<html>
<head>

<h1>Chitter</h1>

</head>
<body>
  <ul id="peeps">
    <% @peeps.each do |peep| %>
      <div style="border: solid;">
        <p>User: <%= peep.user%></p>
        <p><%= peep.message %></p>
        <p>Time: <%= peep.time %></p>
      </div>
    <% end %>
  </ul>
</body>

</html>